.button {
	width: 50px;
	height: 50px;
	font-size: 25px;
	margin: 2px;
	cursor: pointer;
	color: #FFFFFF;
	border: 0;
	background: #8B8B8B;
}
.textview {
	width: 210px;
	margin: 5px;
	font-size: 25px;
	padding: 5px;
}
.main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	padding: 100%;
	background: linear-gradient(to right, #FA2D2D, #004EFF);
	z-index: -1;
}